.Wrapper {
    max-width: 100%;
    height: 2221px;
    width: 100%;
    background: radial-gradient(rgb(34, 34, 40) 0%, #232328 100%);
}

.WallpaperTop{
    width: 100%;
    max-height: 945px;
    height: 100%;
    background: 
        linear-gradient(rgba(0, 0, 0, 0.39), #232328),
        url('../../public/Wrappers/WrapperLandingPage.png');
    background-size: cover;
    background-position: center;
}

.WallpaperContent {
    padding-top: 120px;
    display: flex;
    justify-content: center;
    width: 100%;
    height: 100%;
    flex-direction: column;
}

.WallContentHeader {
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 500;
    font-size: 56px;
    line-height: 66px;
    text-align: center;
    color: #F8F8F8;
}

.WallContent {
    margin-top: 20px;
    width: 100%;
    height: 69px;
    display: flex;
    justify-content: center;
}

.WallContentText {
    height: 69px;
    width: 691px;
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 500;
    font-size: 20px;
    line-height: 23px;
    text-align: center;
    color: #F8F8F8;
}

.WallButtons {
    margin-top: 40px;
    width: 100%;
    display: flex;
    justify-content: center;
}

.WallButton {
    transition: 0.3s;
    width: 267px;
    height: 62.77px;
    background: rgba(250, 199, 4, 0.05);
    border: 2px solid #FAC704;
    box-shadow: 2px 4px 4px rgba(0, 0, 0, 0.25);
    display: flex;
    justify-content: center;
    align-items: center;
    a {
        transition: 0.3s;
        font-family: 'Roboto';
        font-style: normal;
        font-weight: 700;
        font-size: 16px;
        line-height: 19px;
        color: #FAC704;
    }
    svg {
        margin-left: 15px;
    }
}

.WallButton:hover {
    transition: 0.3s;
    border: 2px solid #F8F8F8;
    a {
        transition: 0.3s;
        color: #F8F8F8;
    }
    svg * {
        transition: 0.3s;
        fill: #F8F8F8;
    }
}

.WallButtns {
    max-width: 565px;
    width: 100%;
    display: flex;
    justify-content: space-between;
}

.MainContent {
    width: 100%;
    height: 57.4%;
    display: flex;
    flex-direction: column;
}

.Carusel {
    width: 100%;
    display: flex;
    justify-content: center;
}

.MainContents {
    flex: 1 1 auto;
}

.StatsContents {
    width: 100%;
    display: flex;
    justify-content: center;
}

.StatsContent {
    width: 82%;
    display: flex;
    justify-content: space-between;
}

.Stats {
    margin-top: 140px;
    margin-left: 110px;
    width: 517px;
    height: 428px;
    background: rgba(248, 248, 248, 0.01);
    border: 1px solid #FAC704;
    backdrop-filter: blur(20px);
    display: flex;
    justify-content: center;
    align-items: center;
}

.StatsDetails {    
    height: 105px;
    width: 647px;
    display: flex;
    flex-direction: column;
    h1 {
        font-family: 'Roboto';
        font-style: normal;
        font-weight: 900;
        font-size: 48px;
        line-height: 56px;
        text-align: right;
        color: #F8F8F8;
    }
    a {
        margin-top: 36px;
        font-family: 'Roboto';
        font-style: normal;
        font-weight: 400;
        font-size: 18px;
        line-height: 21px;
        text-align: right;
        color: #BFBFBF;        
    }
}